{% extends "layout.html" %}
{% block body %}
  <h1>Vertstack Timeline</h1>
  <form action="{{ url_for('add_event') }}" method="post" class="add-event">
    <dl>
      <dt>Title:
      <dd><input type="text" size="30" name="title">
      <dt>Happened at:
      <dd><input type="date" name="happened_at">
      <dt>Content:
      <dd><textarea name="content" rows="5" cols="40"></textarea>
      <dt>Media:
      <dd><input type="text" size="30" name="media_resource">
      <dd><input type="submit" value="Post">
    </dl>
  </form>
  <ul>
    {% for event in events %}
      <li><h2>{{ event.title }}</h2>{{event.content }}</li>
    {% else %}
      <li>No events</li>
    {% endfor %}
  </ul>
{% endblock %}
