/* COLORS */
$offwhite: #FEFEFE;
$blurple: #3E425B;
$bordergray: #EDEDED;
$dark: #0C0F22;
$lightblue: #439BBD;

$picture: #FFBA45;
$youtube: #B86340;
$link: lighten($lightblue, 10%);

/* GLOBAL UI */
$header-height: 15em;
html {
  height: 100%;
  background: url('/static/images/square_bg.png');
}
body {
  max-height: 100%;
}
header, footer {
  margin: 0 auto;
}
header {
  z-index: 30;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba($blurple, 0.97);
  height: $header-height;
  border-bottom: 2px solid $bordergray;
  h1, p{
    margin: 0 auto;
    font-family: 'Bree Serif', serif;
  }
  h1 {
    color: lighten($blurple, 20%);
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px darken($bordergray, 80%);
  }
  p {
    color: darken($offwhite, 10%);
  }
}

#header-wrap {
  max-width: 60em;
  margin: 0 auto;
  padding-top: 3em;
  text-align: center;
}
#container {
  margin-top: $header-height;
}
#main {
  padding-bottom: 2.2em;
}
footer {
  position: relative;
  bottom: 0;
  height: 2em;
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: center;
  z-index: 30;
  border-top: 1px solid $bordergray;
  border-bottom: 1px solid $bordergray;
  background: $offwhite;
  p {
    margin: 0 auto;
  }
}

/* TYPOGRAPHY */

$largest-font: 3.18em;
h1 {
	font-size: $largest-font;
}
h2 {
	font-size: $largest-font * .6;
}
h3 {
  font-size: $largest-font * .4;
}
a {
  color: $lightblue;
}
i.big {
  width: 100px;
  cursor: pointer;
  border: 0;
  font-size: 2em;
  padding: 5px;
  &.icon-youtube {
    color: $youtube;
  }
  &.icon-camera-retro {
    color: $picture;
  }
  &.icon-link {
    color: $link;
  }
  &:hover, &.icon-selected {
    background: darken($offwhite, 5%);
  }
}
.btn {
  cursor: pointer;
  font-size: 15px;
  font-family: 'Bree Serif', serif;
  background: $offwhite;
  border: none;
  color: $lightblue;
  border: 2px solid $lightblue;
  border-radius: 4px;
  &.btn-post {
    position: absolute;
    right: 40px;
    bottom: 20px;
  }
  &:hover {
    border-color: lighten($lightblue, 20%);
    color: lighten($lightblue, 20%);
  }
}
.dots {
  color: $lightblue;
  font-size: 2em;
}

/* LAYOUTS */

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.pull-mid {
  margin: 0 auto;
}
.center-text {
  text-align: center;
}
.vr-small {
  height: 30px;
}
.timeline-vr {
  z-index: 10;
  position: fixed;
  top: $header-height;
  left: 50%;
  border-left: 3px solid lighten($blurple, 10%);
}
.gray-border-vr {
  float: left;
  color: $bordergray;
  border-left: 1px solid $bordergray;
  height: 11em;
  margin: 2em 40px 2em 40px;
}

$event-width: 140px;
$event-mid-split: 20px;
.event-wrap {
  margin: 50px auto;    
}
.event {
  position: relative;
  z-index: 20;
  background-color: $offwhite;
  border: 1px solid $bordergray;
  &.event-add {
    height: 15em;
    margin-bottom: 30px;
    .left-group, .right-group {
      float: left;
    }
    .left-group {
      //border-bottom: 1px solid $bordergray;
      width: 60%;
    }
    #icon-options {
      margin-left: 20px;
    }
    .right-group {
      height: 100px;
      width: 20%;
    }
  }
  &.event-box {
    width: $event-width;
    margin: 5px 0 5px 0;
    &.left {
      float: left;
      clear: left;
    }
    &.right {
      float: right;
      clear: right;
    }
  }
  &.sticker {
    height: 20px;
    max-width: 60px;
    text-align: center;
    font-family: 'Bree Serif', serif;
    z-index: 20;
    color: $offwhite;
    background: $lightblue;
    border: 1px solid $bordergray;
    border-radius: 5px;
    padding-bottom: 6px;
  }
}

/* FORMS */

form {
  input, textarea {
    display: block;
    font-family: 'Oxygen', Helvetica, sans-serif;
    font-size: 15px;
    padding: 9px;  
    margin: 10px 0 5px 10px;
    border: none;
    resize: none; 
    background: $offwhite;  
    width: 100%;
    //background: #000; 
  }
  input:focus, textarea:focus {
    outline: none;
  }
  input {
  }
  textarea {
    height: 100px;  
    line-height: 150%;  
  }
  &.add-event {

  }
}